/*Certificate Details Page Style*/
/*凭证详情页面样式*/
div#wn-events-overlay {
  position: relative !important;
  display: inline-block;
}
div#wn-events-certificate {
  height: 100%;
  width: 100%;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
div#wn-events-qrcode {
  position: absolute;
}
#wn-events-qrcode .wn-events-qrcode-label {
  display: block;
  width: auto;
}
#wn-events-qrcode img {
  margin: 0 auto;
}
div#wn-events-scale {
  width: fit-content;
}
div#cert-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 502;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px 16px 16px 16px;
  background: #f6f6f6;
  border-radius: 0;
}
span#cert-image-close {
  width: 30px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d83a3a;
  border-radius: 0;
  color: #fff;
  text-align: center;
  line-height: 25px;
}
span#cert-image-close:hover {
  cursor: pointer;
}
div#cert-image img {
  height: auto;
  width: 100%;
  box-shadow: 4px 4px 10px #888;
}
div#cert-save-tip {
  position: relative;
  height: 55px;
}
div#cert-save-tip img {
  width: 45px;
  height: 45px;
  box-shadow: none;
  margin-top: -25px;
  position: relative;
  margin-left: 25px;
  animation-name: pointer-animation;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
span#tip-text {
  position: absolute;
  top: 30px;
  left: 28%;
  font-family: fangsong;
  font-weight: bold;
  font-size: 16px;
}
div#cert-operation {
  text-align: center;
}
/* 凭证页下载和项目内容跳转按钮 */
@media screen and (max-width: 600px) {
  #wn-events-scale #download-certificate, #wn-events-scale a.button {
    font-size: 36px;
    min-width: 230px;
    width: 230px;
    display: inline-flex;
    justify-content: space-around;
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: 95px;
  }
}
@keyframes pointer-animation {
  from {
    width: 45px;
    height: 45px;
  }
  to {
    width: 38px;
    height: 38px;
  }
}
/*核销状态*/
div#performance {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  font-family: cursive;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
span.performance-gif img {
  width: 18px;
  height: 18px;
}
