ul.record-list {
  list-style: none;
  margin-left: 0;
}
ul.record-list li:last-child {
  font-weight: bold;
}
ul.record-list li:first-child {
  margin-top: 0;
}
ul.record-list li {
  display: block;
  margin-top: 3px;
  padding-left: 6px;
  border-bottom: 1px solid #eee;
}
ul.record-list li:last-child {
  font-weight: bold;
}
