/*Style of fundraising progress bar*/
/*筹款进度条样式*/
.progress-label {
  color: #b2b2b2;
  font-family: Arial,sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

.field--name-field-wn-fund-goal {
  height: 130px;
}

.progress-bg {
  margin-block: 6px;
  width: 100%;
  height: 52px;
  border-radius: 10px;
  text-align: center;
  -moz-box-shadow:    inset 0 0 10px #ccc;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  box-shadow:         inset 0 0 10px #ccc;
  background-color: #e2e2e2;
  display: inline-grid;
}

.progress-bar {
  height: 52px;
  border-radius: 10px;
  float: left;
  /* fallback */
  background-color: #a6a6a6;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a6a6a6), to(#353535));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #a6a6a6, #353535);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #a6a6a6, #353535);
  /* IE 10 */
  background: -ms-linear-gradient(top, #a6a6a6, #353535);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #a6a6a6, #353535);
  white-space: nowrap;
  position: relative;
}

.progress-bg h3.goal, .progress-bg h3.completed {
  font-family: Arial,sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  line-height: 52px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
}


.progress-bg h3.completed {
  color: #fff;
  margin-left: 14px;
  margin-right: 50px;
  padding: 0;
  margin-block: auto;
}
.progress-bg h3.completed::after{
  content: ' ';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  margin-top: 1px;
}

.progress-bg h3.goal {
  color: #b2b2b2;
  text-align: center;
}

body .progress-bg h3.completed {
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -moz-animation: fadein 4s; /* Firefox */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera */
  animation: fadein 4s;
}

.hot-fire {
  display: inline-flex;
}
.hot-fire-1 {
  width: 16px;
  height: 16px;
  filter: opacity(0.4);
}
.hot-fire-2 {
  width: 24px;
  height: 24px;
  filter: opacity(0.7);
}
.hot-fire-3 {
  width: 32px;
  height: 32px;
  filter: opacity(1);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

 .progress-bg h3.goal {
   display: block;
   padding: 0 25px 0 0;
   text-align: right;
   width: 100%;
 }

body .progress-bg div {
  -webkit-animation: progress-bar 2s ease forwards;
  -moz-animation: progress-bar 2s ease forwards;
  -o-animation: progress-bar 2s ease forwards;
  animation: progress-bar 2s ease forwards;
}

