@media screen and (max-width: 600px) {
  .view-id-wn_events_certificate_query table {
    width: 100%;
  }
  .view-id-wn_events_certificate_query table thead {
    visibility: hidden;
    height: 0;
    position: absolute;
  }
  .view-id-wn_events_certificate_query table tr {
    display: block;
    margin-bottom: 18px;
  }
  .view-id-wn_events_certificate_query table td.views-field.views-field-title {
    background-color: #1475ad;
  }
  .view-id-wn_events_certificate_query table td.views-field.views-field-title a {
    color: #fff;
    font-size: 18px;
  }
  td.views-field.views-field-subject {
    margin-top: 0;
    border-top: 0;
  }
  .view-id-wn_events_certificate_query table td {
    margin-top: -3px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    border: 1px solid;
    border-bottom: none;
    display: block;
    font-size: 1em;
    text-align: left;
    border-block-end: 1px solid !important;
    width: 100%;
  }
  .view-id-wn_events_certificate_query table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .view-id-wn_events_certificate_query table td:last-child {
    border-bottom: 1px solid;
  }
  .view-id-wn_events_certificate_query table td a {
    text-decoration: none;
  }
}
