{#
/**
 * @file
 * Olivero's theme implementation for comments.
 *
 * Available variables:
 * - author: Comment author. Can be a link or plain text.
 * - content: The content-related items for the comment display. Use
 *   {{ content }} to print them all, or print a subset such as
 *   {{ content.field_example }}. Use the following code to temporarily suppress
 *   the printing of a given child element:
 *   @code
 *   {{ content|without('field_example') }}
 *   @endcode
 * - created: Formatted date and time for when the comment was created.
 *   Preprocess functions can reformat it by calling DateFormatter::format()
 *   with the desired parameters on the 'comment.created' variable.
 * - changed: Formatted date and time for when the comment was last changed.
 *   Preprocess functions can reformat it by calling DateFormatter::format()
 *   with the desired parameters on the 'comment.changed' variable.
 * - permalink: Comment permalink.
 * - submitted: Submission information created from author and created
 *   during template_preprocess_comment().
 * - user_picture: The comment author's profile picture.
 * - status: Comment status. Possible values are:
 *   unpublished, published, or preview.
 * - title: Comment title, linked to the comment.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class may contain one or more of the following classes:
 *   - comment: The current template type; e.g., 'theming hook'.
 *   - by-anonymous: Comment by an unregistered user.
 *   - by-{entity-type}-author: Comment by the author of the parent entity,
 *     eg. by-node-author.
 *   - preview: When previewing a new or edited comment.
 *   The following applies only to viewers who are registered users:
 *   - unpublished: An unpublished comment visible only to administrators.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: List of classes for the styling of the comment content.
 * - threaded: A flag indicating whether the comments are threaded or not.
 *
 * These variables are provided to give context about the parent comment (if
 * any):
 * - parent_comment: Full parent comment entity (if any).
 * - parent_author: Equivalent to author for the parent comment.
 * - parent_created: Equivalent to created for the parent comment.
 * - parent_changed: Equivalent to changed for the parent comment.
 * - parent_title: Equivalent to title for the parent comment.
 * - parent_permalink: Equivalent to permalink for the parent comment.
 * - parent: A text string of parent comment submission information created from
 *   'parent_author' and 'parent_created' during template_preprocess_comment().
 *   This information is presented to help screen readers follow lengthy
 *   discussion threads. You can hide this from sighted users using the class
 *   visually-hidden.
 *
 * These two variables are provided for context:
 * - comment: Full comment object.
 * - commented_entity: Entity the comments are attached to.
 *
 * @see template_preprocess_comment()
 */
#}
{% if status == 'published' and content.field_wn_hide_events_info.0['#markup'] == '0' %}
  {% set classes = [
    'comment',
    'js-comment',
    not parent_comment ? 'comment--level-1',
    status != 'published' ? 'comment--' ~ status,
    comment.owner.anonymous ? 'by-anonymous',
    author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
  ] %}
  <article {{ attributes.addClass(classes).setAttribute('role', 'article').setAttribute('data-drupal-selector', 'comment') }}
    style="padding-bottom: 8px;">
    {#
    Hide the "new" indicator by default, let a piece of JavaScript ask the
    server which comments are new for the user. Rendering the final "new"
    indicator here would break the render cache.
    #}

    {% if parent %}
      {% set comment_text_wrapper_style = 'background-color: #ffffff;border-radius: 1rem;padding-left: 62px;padding-right: 16px;padding-bottom: 3px;border: 1px solid #e1e1e1;-webkit-box-shadow: 1px 1px 4px 0 #cbcbcb;-moz-box-shadow: 1px 1px 4px 0 #cbcbcb;box-shadow: 1px 1px 4px 0 #cbcbcb;' %}
    {% else %}
      {% set comment_text_wrapper_style = 'background-color: #ffffff;border-radius: 1rem;padding-inline: 16px;padding-bottom: 3px;border: 1px solid #e1e1e1;-webkit-box-shadow: 1px 1px 4px 0 #cbcbcb;-moz-box-shadow: 1px 1px 4px 0 #cbcbcb;box-shadow: 1px 1px 4px 0 #cbcbcb;' %}
    {% endif %}
    <div class="comment__text-wrapper" style="{{ comment_text_wrapper_style }}">
      <footer class="comment__meta" style="display:flex;">
        <img src="{{ wn_events_module_path }}/images/icons-tick.svg" alt="new"
             style="width:20px;height:20px;margin-block:20px;"/>
        <span class="hidden"
              data-comment-timestamp="{{ new_indicator_timestamp }}"
              style="margin-block: 20px;border-radius: 100%;width: 30px;height: 30px;text-align: center;line-height: 30px;">
        </span>
        <p class="comment__author">
          {% if content.field_wn_events_name.0['#context']['value']|length %}
        <h3>{{ content.field_wn_events_name.0['#context']['value'] }}</h3>
        {% else %}
          <h3>{{ author }}</h3>
        {% endif %}
        </p>
        <p class="comment__time"
           style="margin-block:auto;margin-left: 6px;">{{ created }}</p>
        {% if parent %}
          <p class="visually-hidden">{{ parent }}</p>
        {% endif %}
      </footer>
      <div{{ content_attributes.addClass('comment__content') }}
        style="padding-left:50px;">
        {% if parent %}
          <div>{{ 'Reply to'|t }} {{ parent_comment.field_wn_events_name.value }}
            :
          </div>
        {% else %}
          {% if content.field_wn_events_money is not empty %}
            <div style="display: inline-flex;">
              <label>{{ "Amount paid:"|t }}</label>
              <span>
                <img src="{{ wn_events_module_path }}/images/icons-money.gif"
                     alt="new"
                     style="width:20px;height:20px;display: inline-flex;"/>
              </span>
              <span
                style="display:inline-flex;font-size: 2rem;font-weight:bold;margin-inline: 3px;">
                {{ content.field_wn_events_money.0['#context']['value'] }}
              </span>
              <span>{{ 'yuan'|t }}</span>
            </div>
          {% endif %}
        {% endif %}
        {{ content.comment_body }}
        {{ content.links }}
      </div>
    </div>
  </article>
{% endif %}
