{{ attach_library('wn_events/screen_shot') }}
{% set wn_events_overlay_style = '' %}
{% if wn_certificate_background_img is empty %}
  {% set wn_events_overlay_style = 'display:block !important;' %}
{% endif %}
{% if wn_certificate_status == '0' or wn_certificate_status == '1' %}
  {% if wn_is_need_perform == '1' and wn_performance_text is not empty %}
    <div id="performance" data-title="{{ wn_performance_text }}">
      <span class="performance-gif"><img src="{{ wn_module_path }}/images/icons-star.gif"></span>
      {{ wn_performance_text }}
      <span class="performance-gif"><img src="{{ wn_module_path }}/images/icons-star.gif"></span>
    </div>
  {% endif %}
  <div id="wn-events-cert-container">
    <div id="wn-events-scale">
      <div id="wn-events-overlay" style="{{ wn_events_overlay_style }}">
        {% if wn_certificate_background_img is not empty %}
          <img id="certificate-background"
               src="{{ wn_certificate_background_img }}"
               style="max-width: fit-content;">
          <div id="wn-events-certificate"
               style="padding: {{ wn_certificate_padding_block }}px {{ wn_certificate_padding_inline }}px;">
            {{ wn_content|raw }}
          </div>
        {% else %}
          <div id="wn-events-certificate"
               style="position:relative !important;">
            {{ wn_content|raw }}
          </div>
        {% endif %}
        {% if wn_qrcode_display == '1' %}
          {% set display = "display:block;" %}
          {% set wn_qrcode_space = 0 %}
        {% else %}
          {% set display = "display:inline-flex;" %}
        {% endif %}
        <div id="wn-events-qrcode"
             style="left: {{ wn_qrcode_left }}px;bottom: {{ wn_qrcode_bottom }}px;{{ display }}">
          {% if wn_qrcode_query_image is not empty %}
            <div
              style="margin-right: {{ wn_qrcode_space }}px;text-align:center;">
              <label
                class="wn-events-qrcode-label">{{ "Authenticity Query"|t }}</label>
              <img src="{{ wn_qrcode_query_image }}" width="{{ wn_qrcode_wh }}"
                   height="{{ wn_qrcode_wh }}">
            </div>
          {% endif %}
          {% if wn_qrcode_sponsor_image is not empty %}
            <div style="text-align:center;">
              <label
                class="wn-events-qrcode-label">{{ "Event Page"|t }}</label>
              <img src="{{ wn_qrcode_sponsor_image }}"
                   width="{{ wn_qrcode_wh }}"
                   height="{{ wn_qrcode_wh }}">
            </div>
          {% endif %}
        </div>
        {% if wn_certificate_seal is not empty %}
          <img id="certificate-seal" src="{{ wn_certificate_seal }}"
               style="position: absolute;bottom: {{ wn_certificate_seal_bottom }}px;right: {{ wn_certificate_seal_right }}px;">
        {% endif %}
      </div>
      <div id="cert-operation">
        {% if wn_destination is not empty %}
          <a class="button" href="{{ wn_destination }}">{{ 'Re edit'|t }}</a>
        {% endif %}
        <button id="download-certificate"
                class="button">{{ 'Download'|t }}</button>
        {% if wn_is_need_perform == '1' and wn_performance_url is not empty %}
          <a class="button" href="{{ wn_performance_url }}">{{ 'Perform'|t }}</a>
        {% endif %}
        {% if wn_events_certificate_query_url is not empty %}
          <a class="button"
             href="{{ wn_events_certificate_query_url }}">{{ 'Return'|t }}</a>
        {% else %}
          <a class="button"
             href="{{ wn_events_content_url }}">{{ 'Event page'|t }}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% else %}
  <div id="invalid-cert">
    {{ 'The certificate has been invalidated.'|t }}
  </div>
{% endif %}
