{{ attach_library('wn_events/wn_statistics') }}
<div id="wn-events-statistics">
  <span>
    <div class="number integer">{{ data.total[0]['field_wn_order_number_count'] }}</div>
    <div class="label">{{ "Person-time Sum"|t }}</div>
  </span>
  <span>
    <div><span>¥ </span><span class="number float">{{ data.total[0]['field_wn_events_money_sum'] }}</span></div>
    <div class="label">{{ "Order Sum"|t }}</div>
  </span>
  <span>
    <div><span>¥ </span><span class="number float">{{ data.total[0]['field_wn_events_money_avg'] }}</span></div>
    <div class="label">{{ "Order Avg"|t }}</div>
  </span>
  <span>
    <div><span>¥ </span><span class="number float">{{ data.total[0]['field_wn_events_money_max'] }}</span></div>
    <div class="label">{{ "Order Max"|t }}</div>
  </span>
  <span>
    <div><span>¥ </span><span class="number float">{{ data.total[0]['field_wn_events_money_min'] }}</span></div>
    <div class="label">{{ "Order Min"|t }}</div>
  </span>
</div>
